# Python 缓存
__pycache__/
*.pyc

# 核心大文件 (必须忽略!)
data/
imagenet/
pretrained_models/
output_*/
*.pth
*.ckpt
*.safetensors
images_codeformer_swinir/

# 系统/IDE配置
.vscode/
.idea/
.DS_Store

# 压缩包
*.zip
*.tar.gz

#数据集
CelebA-Test-3000/

#其他
logs
*.json
dataset_paired.py
prepare_codeformer_dataset.py
