# Python 缓存
__pycache__/
*.pyc

# 核心大文件 (必须忽略!)
data/
imagenet/
pretrained_models/
output_*/
*.pth
*.ckpt
*.safetensors

# 系统/IDE配置
.vscode/
.idea/
.DS_Store

# 压缩包
*.zip
*.tar.gz

#测试文件
test_continuous_demo.py
test_multiscale.py
prepare_data.py
ttt/
results_continuous/
test_lr_images/
results_continuous_1/